{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% if form.instance.pk %}Edit Tweet {% else %}Create New Tweet{% endif %} {% endblock %}
    </head>
<body>
    {% block content %}
    
    <h1 class='text-center'>Welcome to Tweet Review</h1>

    <h2>{% if form.instance.pk %}Edit Tweet {% else %}Create New Tweet{% endif %}</h2>

    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form}}
        <a href="{% url 'tweet_list' %}" class="btn btn-primary">Back to Tweet List</a>
        <button type="submit" class="btn btn-warning">Submit</button>
    </form>

    {% endblock %}
</body>
</html>